.datepicker {
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
}

.select {
    width: 405px;
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    max-width: 800px;
    background-color: #251b25;
}

.input {
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    font-size: 15px;
}